@import "colors";
@import "constants";

$strength-bg: #EEEEEE;
$strength-color-0: #D63031;
$strength-color-1: #E17055;
$strength-color-2: #FDCB6E;
$strength-color-3: #FAFD6E;
$strength-color-4: $green;

.password-strength {
  margin-top: -24px;
  width: 100%;
  min-height: 22px;
  background: $strength-bg;
  display: block;
  margin-bottom: $default-spacer;
  text-align: center;

  &.strength-0 {
    background: linear-gradient(to right, $strength-color-0 0%, $strength-color-0 20%, $strength-bg 20%, $strength-bg 100%);
  }

  &.strength-1 {
    background: linear-gradient(to right, $strength-color-1 0%, $strength-color-1 40%, $strength-bg 40%, $strength-bg 100%);
  }

  &.strength-2 {
    background: linear-gradient(to right, $strength-color-2 0%, $strength-color-2 60%, $strength-bg 60%, $strength-bg 100%);
  }

  &.strength-3 {
    background: linear-gradient(to right, $strength-color-3 0%, $strength-color-3 80%, $strength-bg 80%, $strength-bg 100%);
  }

  &.strength-4 {
    background: $strength-color-4;
    color: #FFFFFF;
  }
}
